{% extends 'base.html' %}


{% block content %}


<div class="mt-2 justify-start space-y-6 w-10/12">
    <!-- Quote? -->

    <div class="rounded p-3">
        <!-- Latest Notes -->
        <div class="flex justify-start w-full">
            <h1 class="text-3xl text-teal_dark font-bold flex justify-start ">Latest Notes</h1>
        </div>
        <div class="grid grid-cols-3 gap-4">
             <div class="hover:bg-teal_light transform transition-all group p-6 border-2 border-teal-50 rounded shadow-sm  space-y-5">
                <div class="flex justify-between">
                    <h1 class="font-bold text-lg text-teal_dark">Lorem</h1>
                    <h1><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 p-1 bg-teal_light transform transition-all rounded-full text-teal_dark group-hover:bg-white group-hover:text-teal_dark" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
</svg></h1>
                </div>
                <p class="font-semibold text-justify">mply dummy text of the printing and ty r since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                <ul class="flex space-x-3">
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">sample_tag</li>
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">another_tag</li>
                    
                </ul>
            </div>
             <div class="hover:bg-teal_light transform transition-all group p-6 border-2 border-teal-50 rounded shadow-sm  space-y-5">
                <div class="flex justify-between">
                    <h1 class="font-bold text-lg text-teal_dark">Lorem</h1>
                    <h1><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 p-1 bg-teal_light transform transition-all rounded-full text-teal_dark group-hover:bg-white group-hover:text-teal_dark" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
</svg></h1>
                </div>
                <p class="font-semibold text-justify">mply dummy text of the printing and ty r since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                <ul class="flex space-x-3">
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">sample_tag</li>
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">another_tag</li>
                    
                </ul>
            </div>

             <div class="hover:bg-teal_light transform transition-all group p-6 border-2 border-teal-50 rounded shadow-sm  space-y-5">
                <div class="flex justify-between">
                    <h1 class="font-bold text-lg text-teal_dark">Lorem</h1>
                    <h1><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 p-1 bg-teal_light transform transition-all rounded-full text-teal_dark group-hover:bg-white group-hover:text-teal_dark" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
</svg></h1>
                </div>
                <p class="font-semibold text-justify">mply dummy text of the printing and ty r since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                <ul class="flex space-x-3">
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">sample_tag</li>
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">another_tag</li>
                    
                </ul>
            </div>

             <div class="hover:bg-teal_light transform transition-all group p-6 border-2 border-teal-50 rounded shadow-sm  space-y-5">
                <div class="flex justify-between">
                    <h1 class="font-bold text-lg text-teal_dark">Lorem</h1>
                    <h1><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 p-1 bg-teal_light transform transition-all rounded-full text-teal_dark group-hover:bg-white group-hover:text-teal_dark" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
</svg></h1>
                </div>
                <p class="font-semibold text-justify">mply dummy text of the printing and ty r since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                <ul class="flex space-x-3">
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">sample_tag</li>
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">another_tag</li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="rounded p-3">
        <!-- Latest Notebooks -->
        <div class="flex justify-start">
            <h1 class="text-3xl text-teal_dark font-bold flex justify-start ">Latest Notebooks</h1>
        </div>
        <div class="grid grid-cols-3 gap-4">
            <div class="hover:bg-teal_light transform transition-all group p-6 border-2 border-teal-50 rounded shadow-sm  space-y-5">
                <div class="flex justify-between">
                    <h1 class="font-bold text-lg text-teal_dark">Lorem</h1>
                    <h1><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 p-1 bg-teal_light transform transition-all rounded-full text-teal_dark group-hover:bg-white group-hover:text-teal_dark" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
</svg></h1>
                </div>
                <p class="font-semibold text-justify">mply dummy text of the printing and ty r since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                <ul class="flex space-x-3">
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">sample_tag</li>
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">another_tag</li>
                    
                </ul>
            </div>
             <div class="hover:bg-teal_light transform transition-all group p-6 border-2 border-teal-50 rounded shadow-sm  space-y-5">
                <div class="flex justify-between">
                    <h1 class="font-bold text-lg text-teal_dark">Lorem</h1>
                    <h1><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 p-1 bg-teal_light transform transition-all rounded-full text-teal_dark group-hover:bg-white group-hover:text-teal_dark" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
</svg></h1>
                </div>
                <p class="font-semibold text-justify">mply dummy text of the printing and ty r since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                <ul class="flex space-x-3">
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">sample_tag</li>
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">another_tag</li>
                    
                </ul>
            </div>

             <div class="hover:bg-teal_light transform transition-all group p-6 border-2 border-teal-50 rounded shadow-sm  space-y-5">
                <div class="flex justify-between">
                    <h1 class="font-bold text-lg text-teal_dark">Lorem</h1>
                    <h1><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 p-1 bg-teal_light transform transition-all rounded-full text-teal_dark group-hover:bg-white group-hover:text-teal_dark" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
</svg></h1>
                </div>
                <p class="font-semibold text-justify">mply dummy text of the printing and ty r since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                <ul class="flex space-x-3">
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">sample_tag</li>
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">another_tag</li>
                    
                </ul>
            </div>

             <div class="hover:bg-teal_light transform transition-all group p-6 border-2 border-teal-50 rounded shadow-sm  space-y-5">
                <div class="flex justify-between">
                    <h1 class="font-bold text-lg text-teal_dark">Lorem</h1>
                    <h1><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 p-1 bg-teal_light transform transition-all rounded-full text-teal_dark group-hover:bg-white group-hover:text-teal_dark" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
</svg></h1>
                </div>
                <p class="font-semibold text-justify">mply dummy text of the printing and ty r since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                <ul class="flex space-x-3">
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">sample_tag</li>
                    <li class="text-sm p-1 rounded-md text-teal_dark bg-teal_light  transform transition-all font-semibold group-hover:bg-white group-hover:text-teal_dark">another_tag</li>
                    
                </ul>
            </div>
        </div>
    </div>

</div>



{% endblock content %}